@mixin figma-shadow(
  $x: 0px,
  $y: 0px,
  $blur: 8px,
  $spread: 4px,
  $color: rgba(160, 160, 160, 0.2),
  $radius: 12px
) {
  box-shadow: #{$x} #{$y} #{$blur} #{$spread} #{$color};
  border-radius: $radius;
}

.orderForm {
    display: flex;
    flex-direction: row;
    gap: 124px;
    @media screen and (max-width: 1023.98px) {
        flex-direction: column;
    }

    &_form {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        gap: 40px;
        @include figma-shadow();
        width: 100%;

        @media screen and (min-width: 769px) and (max-width: 1023.98px) {
            width: 532px;
        }

        @media screen and (min-width: 1024px) {
            width: 722px;
        }
    }
}
