.CheckBox {
	display: inline-flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
	user-select: none;
	padding: 12px;
}

.input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;

	&:checked {
		&+.checkbox {
			background-color: rgba(255, 217, 90, 1);
			border-color: rgba(255, 217, 90, 1);

			.checkmark {
				opacity: 1;
			}
		}

		&~.text {
			color: rgba(0, 0, 0, 1);
		}
	}

	&:focus+.checkbox {
		box-shadow: 0 0 0 2px rgba(255, 229, 102, 0.3);
	}
}

.checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background: white;
	border: 2px solid rgba(118, 118, 118, 1);
	border-radius: 4px;
	transition: all 0.2s ease;
}

.checkmark {
	opacity: 0;
	transition: opacity 0.2s ease;
}

.text {
	font-size: 16px;
	color: rgba(118, 118, 118, 1);
	font-weight: 500;
}